<div class="row ">
      <div class="col md-3">
        <div   >
          {{LineCommande?.description}}
        </div>
      </div>
      <div class="col">
        <div   >
          {{LineCommande?.count}}
        </div>
      </div>
      <div class="col">
        <div  >
          {{LineCommande?.unitPrice}}
        </div>
      </div>
  <div class="col">
    <div  >
      {{LineCommande?.category}}
    </div>
  </div>
  <div class="col">
    <div  >
      {{LineCommande?.imported}}
    </div>
  </div>
</div>
